<template data-sly-template.grid="${@ cards}">
    <ul class="cmp-discovery-listing__list" data-sly-test="${cards.size}" data-sly-list.card="${cards}">
        <li class="cmp-discovery-listing__item">
            <a class="cmp-discovery-listing__link" href="${card.url @ context='uri'}">
                <div class="cmp-discovery-listing__image" data-sly-test="${card.featuredImage}">
                    <img src="${card.featuredImage @ context='uri'}" alt="${card.title}" loading="lazy">
                </div>
                <div class="cmp-discovery-listing__content">
                    <h3 class="cmp-discovery-listing__card-title">${card.title}</h3>
                    <p class="cmp-discovery-listing__description" data-sly-test="${card.shortDescription}">${card.shortDescription}</p>
                    <p class="cmp-discovery-listing__meta" data-sly-test="${card.location || card.environment}">
                        <span class="cmp-discovery-listing__meta-item" data-sly-test="${card.location}">${card.location}</span>
                        <span class="cmp-discovery-listing__meta-item" data-sly-test="${card.environment}">${card.environment}</span>
                    </p>
                    <div class="cmp-discovery-listing__tags" data-sly-test="${card.ageGroup || card.costType}">
                        <span class="cmp-discovery-listing__tag" data-sly-test="${card.ageGroup}">${card.ageGroup}</span>
                        <span class="cmp-discovery-listing__tag" data-sly-test="${card.costType}">${card.costType}</span>
                    </div>
                    <p class="cmp-discovery-listing__price" data-sly-test="${card.price}">${card.price}</p>
                    <span class="cmp-discovery-listing__arrow" aria-hidden="true"></span>
                </div>
            </a>
        </li>
    </ul>
</template>
